nav a {
  margin: 0 0.3em;
  text-decoration: none;
  font-weight: bold;
	font-size: 1.15em;
}

#textFooter {
  line-height: 1.6;
  text-indent: 15px;
  text-align: center;
}
.g {
	max-height: 1.5em;
	width: 100%;
}
.tableContainer {
	overflow: auto;
	max-width: 100%;
}
